{% extends 'base.html' %}
{% block content %}

<br>
<div class="container">
    <div class="col" align="center">
        <div class="card card-body w-50" id="card" align="left">
            <h3  align='center' class="text-body-primary">
                Register here....!
            </h3><br>
            <!-- <form action="" method="POST">
              {% csrf_token %}
                <div class="mb-3 w-75">
                    <label class="form-label">Name</label><br>
                    <input placeholder="Enter your name" type="text" class="form-control"  name="name">                    
                  </div>
                  <div class="mb-3 w-75">
                    <label class="form-label">Number</label>
                    <input type="number" class="form-control"  name="phone">
                 
                  </div>
                <div class="mb-3 w-75">
                  <label class="form-label">Email address</label>
                  <input type="email" class="form-control"  name="email">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 w-75">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control"  name="password">
                </div>
                <div class="mb-3 w-75">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form> -->
              <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register">
              </form>
        </div>
    </div>
</div><br>
{% endblock %}